body {
    
    background: linear-gradient(to right, #272927, #0d0e0d);
    color: #F5F7FA;
    font-family: Lato;
    padding: 0%;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    
    position: relative;
}


#divbanner {
    position: absolute;     
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;     
    z-index: 0;
}

#banner {
    width: 100%;             
    height: 100%;           
    object-fit: cover;       
    display: block;    
}



#divfoto {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: 4px solid #121312;
    margin: 0 auto;
    margin-top: -30px;
}

#foto {
    border-radius: 50%;
    border: 4px solid white;
}

.social-icons {
    display: flex;
    justify-content: center; 
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: #7a967a;
    font-size: 30px;
    transition: transform 0.2s, color 0.2s;
}

.social-icons a:hover {
    color: #445244;
    transform: scale(1.2); 
}

#corpo {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
}

#divheader div, h1, p {
    position: relative;
    z-index: 1; 
}

#bio {
    width: 500px;
    margin: 0 auto;
}

#exemplos-fotos {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
}

.exemplos-foto {
    width: 377px;
    height: 300px;
}

.exemplos-foto img {
    object-fit: cover;       
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.2s, color 0.2s;
}
#foto-maior {
    width: 600px;
    height: 400px;
}

.exemplos-foto img:hover {
    transform: scale(1.1); 
}

.infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.infos img {
    width: 300px;
    height: 300px;
    margin: 0 20px;
    border-radius: 15px;
    transition: transform 0.2s, color 0.2s;
}

.infos img:hover {
    transform: scale(1.1); 
}

#info1 {
    background-color: #0d0e0d;
    background: linear-gradient(to right, #0d0e0d, #272927);
}

#info2 {
    background-color: #272927;
}

.infos-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}